Code/F#/Implementerings Project RAD - 2020/Implementerings Project RAD - 2020/bin
Code/F#/Implementerings Project RAD - 2020/Implementerings Project RAD - 2020/obj
*.swp
*.dll
Code/F#/Implementerings Project RAD - 2020/.vs/Implementerings Project RAD - 2020/xs/*
